/* ESTILOS DE LA PASTELERIA */

body  {
    background-image: url("./images/background.png");
    background-size: cover;
    }
#logo {
    border-radius: 50%;
}
#logo2 {
    border-radius: 15%;
}        
.container {
    display: flex;
}
.item1 {
    align-self: stretch; 
}
.item2 {
    align-self: flex-end;
    margin-left: 20%;
}
h1 {
    font-size: 70px;
}
h2 {
    font-size: 35px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 25px;
}
ul {
    font-size: 20px;
}
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
    }

th, td {
    padding: 20px;
    border: 2px solid black;
    text-align: center;
    font-size: 20px;
    }
footer p {
    text-align: right; font-size: 17px;
} 

p {
    font-size: 20px;
}

form {
    font-size: 20px;
}